html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: #121212;
  }

  .hero-section {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image ease-in-out;
    overflow: hidden;
    position: relative;
    animation: zoomIn 15s infinite alternate;
    transition-timing-function: ease-in-out;
  }

   /* #intro-text > * {
    animation: changeText 12s infinite;
  } */
  

  @keyframes zoomIn {
    0% {
      background-size: 100% 100%;
    }
    100% {
      background-size: 110% 110%;
    }
  }
  
  
  
